
<!-- BEGIN:main -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Validando tu registraci&oacute;n</title>
</head>
<body>

<img src="{WEBPATH}/css/images/logo_right.jpg" alt="logo" title="logo">
<br />
<div style="{titulo_style}">Confirmaci&oacute;n de registraci&oacute;n</div>
<br />
<b>Hola {nombre} </b><br /><br />

<p>Por favor, confirma tu registraci&oacute;n para continuar con tu solicitud: <a href="{linkValidacion}">click aqu&iacute;</a></p>


<br />
Saludos,
<br />
<br />
<p style="{firma_style}">
El equipo de atenci&oacute;n al cliente  <br />
<a href='www.coopelf.com.ar'>www.coopelf.com.ar</a> <br />
</p>
<!-- END:main -->